Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


Synthetics.kdev4
Synthetics.pro
Synthetics.workspace
SyntheticsCodeCompletionFolders.txt
SyntheticsCodeLitePreProcessor.txt
SyntheticsConfig.pri
SyntheticsDefines.pri
SyntheticsHeader.pri
SyntheticsIncludes.pri
SyntheticsSource.pri

CMakeLists.txt
Makefile
.kdev4

Assets/
UnrealEngine/
